services:
  app:
    profiles:
      - "prod"
    container_name: opsguard-app
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - pubsub
    environment:
      SERVER_PORT: 8080
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/opsguard
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_CLOUD_GCP_PUBSUB_EMULATOR_HOST: pubsub:8085
      SPRING_CLOUD_GCP_PROJECT_ID: test-project
      SPRING_APPLICATION_JSON: '{"spring.cloud.gcp.pubsub.emulator-host":"pubsub:8085"}'

  postgres:
    profiles:
      - "prod"
      - "dev"
    image: postgres:15-alpine
    container_name: opsguard-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: opsguard
    ports:
      - "5432:5432"

  pubsub:
    profiles:
      - "prod"
      - "dev"
    image: google/cloud-sdk:emulators
    container_name: opsguard-pubsub
    command: gcloud beta emulators pubsub start --project=test-project --host-port=0.0.0.0:8085
    ports:
      - "8085:8085"