services:
  postgres:
    image: postgres:15-alpine
    container_name: opsguard-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: opsguard
    ports:
      - "5432:5432"

  pubsub:
    image: google/cloud-sdk:emulators
    container_name: opsguard-pubsub
    command: gcloud beta emulators pubsub start --project=test-project --host-port=0.0.0.0:8085
    ports:
      - "8085:8085"